.mb-15 {
  margin-bottom: 15px !important;
}

.w-100 {
  width: 100% !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.btn-disabled {
  background-color: #dcdcdc !important;
  border-color: #dcdcdc !important;
  box-shadow: none !important;
  color: #999 !important;
  pointer-events: none;
}

.switch_period {
  width: 200px;
}
