<div class="page_wrapper">
  <div class="d-flex justify-between w-100 mb-10">
    <div class="switch_period">
      <sh-select [shId]="'sh-range'" [shName]="'range'" [shPlaceHolder]="'All time'" [shData]="[{value: '0', label: 'All time'}, {value: '1', label: 'Start Period'}, {value: '2', label: 'End Period'}]" (shChange)="changeRange($event)" [shAllowClear]="false"></sh-select>
    </div>
  </div>

  <div class="tbl_container">
    <table class="w-full border-collapse border border-gray-300">
      <thead class="bg-gray-200">
        <tr>
          <th class="p-2 border border-gray-300">Category</th>
          <th *ngFor="let month of months_gen" class="p-2 border border-gray-300">{{ month }} 2024</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Hiển thị danh mục thu nhập -->
        <tr class="bg_lightgray">
          <td [attr.colspan]="months_gen.length + 2">
            <div class="d-flex justify-between align-items-end">
              <span class="font600">Income</span>
              <button class="btn btn-primary" (click)="addCategory('income')">
                <sh-icon [shIcon]="'plus'"></sh-icon> New Income
              </button>
            </div>
          </td>
        </tr>
        <ng-container *ngFor="let category of categories.income; let i = index">
          <tr>
            <td class="p-2 border border-gray-300">
              <div class="d-flex gap-12 justify-between">
                <div class="d-flex align-items-center">
                  <span class="parent_node" [ngClass]="category.expanded ? '' : 'expanded'"></span>
                  <blockquote #editableBlock [attr.contenteditable]="category.changeName" [ngClass]="category.changeName ? 'changing_name' : ''" (keydown)="saveCategoryName($event, 'income', category.id)" (input)="changeCategoryName($event, 'income', category.id)">{{ category.name }}</blockquote>
                </div>
                <button class="btn btn-edit" (click)="toggleChangeName(category, editableBlock)">
                  <sh-icon [shIcon]="category.changeName ? 'save' : 'edit'"></sh-icon>
                </button>
              </div>
            </td>
            <td *ngFor="let month of months_gen; let j = index" class="border border-gray-300">
              <input type="text" data-type="income" [(ngModel)]="category.values[month]" (keydown)="handleKeydown($event, 'income', category, i, j)" (input)="formatNumberInput($event)" (contextmenu)="onRightClick($event, category, month)" [autofocus]="i === 0 && j === 0" />
            </td>
            <td>
              <div class="d-flex gap-6">
                <button class="btn" (click)="deleteCategory('income', category.id)" [ngClass]="i == 0 ? 'btn-disabled' : 'btn-remove'">
                  <sh-icon [shIcon]="'trash'"></sh-icon>
                </button>
                <button class="btn btn-add" (click)="addCategory('income', category.id)">
                  <sh-icon [shIcon]="'plus'"></sh-icon>
                </button>
                <button class="btn btn-expand" (click)="toggleExpand(category)" *ngIf="category.children?.length !== 0">
                  <sh-icon [shIcon]="category.expanded ? 'arrow-right' : 'arrow-down'"></sh-icon>
                </button>
              </div>
            </td>
          </tr>

          <!-- Hiển thị danh mục con nếu có -->
          <ng-container *ngIf="category.children && category.expanded">
            <tr *ngFor="let subCategory of category.children; let k = index" class="bg-blue-50">
              <td class="p-2 border border-gray-300 pl-20">
                <div class="d-flex gap-12 justify-between">
                  <div class="d-flex">
                    <span class="child_node"></span>
                    <blockquote #editableBlockSub [attr.contenteditable]="subCategory.changeName" [ngClass]="subCategory.changeName ? 'changing_name' : ''" (keydown)="saveSubCategoryName($event, 'income', category.id, subCategory.id)" (input)="changeCategoryName($event, 'income', subCategory.id)" [textContent]="subCategory.name"></blockquote>
                  </div>
                  <button class="btn btn-edit" (click)="toggleChangeName(subCategory, editableBlockSub)">
                    <sh-icon [shIcon]="subCategory.changeName ? 'save' : 'edit'"></sh-icon>
                  </button>
                </div>
              </td>
              <td *ngFor="let month of months_gen; let l = index" class="border border-gray-300">
                <input type="text" data-type="income" [(ngModel)]="subCategory.values[month]" (keydown)="handleKeydown($event, 'income', subCategory, k, l)" (input)="formatNumberInput($event)" (contextmenu)="onRightClick($event, subCategory, month)" />
              </td>
              <td>
                <button class="btn btn-remove" (click)="deleteSubCategory(category, subCategory.id)">
                  <sh-icon [shIcon]="'trash'"></sh-icon>
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <tr>
          <td class="font600">Total Income</td>
          <td *ngFor="let month of months_gen" class="text-right">{{ calculateTotal('income', month) }}</td>
          <td></td>
        </tr>

        <!-- Hiển thị danh mục chi phí -->
        <tr class="bg_lightgray">
          <td [attr.colspan]="months_gen.length + 2" class="bg-red-100">
            <div class="d-flex justify-between align-items-end">
              <span class="font600">Expense</span>
              <button class="btn btn-primary" (click)="addCategory('expense')">
                <sh-icon [shIcon]="'plus'"></sh-icon> New Expense
              </button>
            </div>
          </td>
        </tr>
        <ng-container *ngFor="let category of categories.expense; let i = index">
          <tr class="bg-red-50">
            <td class="p-2 border border-gray-300">
              <div class="w-100 d-flex gap-8 justify-between">
                <div class="d-flex align-items-center">
                  <span class="parent_node" [ngClass]="category.expanded ? '' : 'expanded'"></span>
                  <blockquote #editableBlock [attr.contenteditable]="category.changeName" [ngClass]="category.changeName ? 'changing_name' : ''" (keydown)="saveCategoryName($event, 'expense', category.id)" (input)="changeCategoryName($event, 'expense', category.id)" [textContent]="category.name"></blockquote>
                </div>
                <button class="btn btn-edit" (click)="toggleChangeName(category, editableBlock)">
                  <sh-icon [shIcon]="category.changeName ? 'save' : 'edit'"></sh-icon>
                </button>
              </div>
            </td>
            <td *ngFor="let month of months_gen; let j = index" class="border border-gray-300">
              <input type="text" data-type="expense" [(ngModel)]="category.values[month]" (keydown)="handleKeydown($event, 'expense', category, i, j)" (input)="formatNumberInput($event)" (contextmenu)="onRightClick($event, category, month)" [autofocus]="i === 0 && j === 0" />
            </td>
            <td>
              <div class="d-flex gap-6">
                <button class="btn" (click)="deleteCategory('expense', category.id)" [ngClass]="i == 0 ? 'btn-disabled' : 'btn-remove'">
                  <sh-icon [shIcon]="'trash'"></sh-icon>
                </button>
                <button class="btn btn-add" (click)="addCategory('expense', category.id)">
                  <sh-icon [shIcon]="'plus'"></sh-icon>
                </button>
                <button class="btn btn-expand" (click)="toggleExpand(category)" *ngIf="category.children?.length !== 0">
                  <sh-icon [shIcon]="category.expanded ? 'arrow-right' : 'arrow-down'"></sh-icon>
                </button>
              </div>
            </td>
          </tr>

          <!-- Hiển thị danh mục con nếu có -->
          <ng-container *ngIf="category.children && category.expanded">
            <tr *ngFor="let subCategory of category.children; let k = index" class="bg-red-100">
              <td class="p-2 border border-gray-300 pl-20">
                <div class="d-flex gap-8 justify-between">
                  <div class="d-flex">
                    <span class="child_node"></span>
                    <blockquote #editableBlockSub [attr.contenteditable]="subCategory.changeName" [ngClass]="subCategory.changeName ? 'changing_name' : ''" (keydown)="saveSubCategoryName($event, 'expense', category.id, subCategory.id)" (input)="changeCategoryName($event, 'expense', subCategory.id)" [textContent]="subCategory.name"></blockquote>
                  </div>
                  <button class="btn btn-edit" (click)="toggleChangeName(subCategory, editableBlockSub)">
                    <sh-icon [shIcon]="subCategory.changeName ? 'save' : 'edit'"></sh-icon>
                  </button>
                </div>
              </td>
              <td *ngFor="let month of months_gen; let l = index" class="border border-gray-300">
                <input type="text" data-type="expense" [(ngModel)]="subCategory.values[month]" (keydown)="handleKeydown($event, 'expense', subCategory, k, l)" (input)="formatNumberInput($event)" (contextmenu)="onRightClick($event, subCategory, month)" />
              </td>
              <td>
                <div class="d-flex gap-6">
                  <button class="btn btn-remove" (click)="deleteSubCategory(category, subCategory.id)">
                    <sh-icon [shIcon]="'trash'"></sh-icon>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>

      <tfoot>
        <tr>
          <td class="font600">Total Expense</td>
          <td *ngFor="let month of months_gen" class="text-right">{{ calculateTotal('expense', month) }}</td>
          <td></td>
        </tr>
        <tr>
          <td class="font600">Profit / Loss</td>
          <td *ngFor="let month of months_gen" class="text-right">{{ calculateProfitLoss(month) }}</td>
          <td></td>
        </tr>
        <tr>
          <td class="font600">Opening Balance</td>
          <td *ngFor="let month of months_gen; let i = index" class="text-right">
            <input type="text" [(ngModel)]="openingBalanceInitial" (input)="formatNumberInput($event)" (change)="openingBalanceInitial = +openingBalanceInitial" *ngIf="i === 0" />
            <span *ngIf="i !== 0">{{ calculateOpeningBalance(month) }}</span>
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="font600">Closing Balance</td>
          <td *ngFor="let month of months_gen" class="text-right">{{ calculateClosingBalance(month) }}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Context Menu Popup -->
<div class="overlay" *ngIf="contextMenu.show" (click)="contextMenu.show = false"></div>
<div *ngIf="contextMenu.show" [style.left.px]="contextMenu.x" [style.top.px]="contextMenu.y" class="context-menu bg-white border shadow-lg rounded-md p-2">
  <button class="bg-blue-500 text-white px-3 py-1 rounded w-full" (click)="applyToAll()">Apply to all</button>
</div>
