* {
  box-sizing: border-box;
}

html,
body {
  background-color: #f2f2f2;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.bg_lightgray {
  background-color: #f1f1f1;
}

.d-flex {
  display: flex;
}

.text-right {
  text-align: right !important;
}

.btn-primary {
  background-color: rgb(65, 134, 255) !important;
}

.btn-primary:hover {
  background-color: rgb(21, 104, 248) !important;
  border-color: rgb(21, 104, 248) !important;
}

.btn-edit {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: rgb(165, 134, 90) !important;
  font-size: 16px;
  padding: 0 !important;
}

input {
  border: 1px solid #ccc !important;
  border-radius: 2px;
  font-size: 14px;
  padding: 2px 6px !important;
  transition: .3s;
  width: 100%;
}

input:focus {
  border-color: rgb(21, 104, 248) !important;
  outline: none;
}

.btn-remove {
  background-color: #ff9e9e !important;
  color: #f0f0f0;
}

.btn-add {
  background-color: #5bb05b !important;
  color: #f0f0f0;
}

.btn-add:hover {
  background-color: #5bb05b !important;
}

.btn-expand {
  background-color: #5bb0db !important;
  border: none !important;
  box-shadow: none !important;
  color: #f0f0f0 !important;
  font-size: 16px;
  padding: 0 !important;
}

.btn-expand:hover {
  background-color: #3399ff !important;
}

.btn-remove:hover {
  background-color: #db5b5b !important;
}

.category-action {
  display: flex;
  gap: 12px;
}

blockquote {
  border-radius: 2px;
  height: 24px;
  margin: 0;
  min-width: 90px;
  padding: 1px 2px;
  width: fit-content;
}

blockquote.changing_name {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

blockquote:focus {
  border-color: rgb(21, 104, 248) !important;
  outline: none;
}

.range_container {
  margin-bottom: 12px;
  width: 360px;

  input {
    border: none !important;
  }
}

.page_wrapper {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: calc(100% - 32px);
  min-height: 100vh;
  padding: 20px 16px;
  width: 1200px;
}

.tbl_container {
  overflow-x: auto;
  overflow-y: hidden;

  table {
    border-bottom: 1px solid #dfdfdf;
    border-collapse: collapse;
    border-left: 1px solid #dfdfdf;
    border-spacing: 0;
    width: 100%;
  }

  th,
  td {
    border-right: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    padding: 3px 8px;
    text-align: left;
    white-space: nowrap;
  }

  th {
    background-color: rgb(220, 229, 246);
    font-weight: 500;
  }

  .btn {
    font-size: 13px !important;
    padding: 3px 5px !important;
  }
}

.overlay {
  background: transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.context-menu {
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  position: absolute;
  z-index: 10;
}
