* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.btn {
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 18px;
  transition: .3s;
}

.d-flex {
  display: flex;
}

.btn-primary {
  background-color: #3f51b5 !important;
}

.btn-primary:hover {
  background-color: #283593;
}

input {
  border: 1px solid #ccc !important;
  border-radius: 2px;
  font-size: 14px;
  padding: 2px 6px !important;
  transition: .3s;
  width: 100%;
}

input:focus {
  border-color: #3f51b5 !important;
  outline: none;
}

.btn-remove {
  background-color: rgb(255, 158, 158) !important;
  font-size: 17px;
  height: 24px !important;
  padding: 2px 8px !important;
}

.btn-remove:hover {
  background-color: rgb(255, 0, 0) !important;
}

.category-action {
  display: flex;
  gap: 12px;
}

blockquote {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 24px;
  margin: 0;
  padding: 1px 2px;
  width: 92px;
}

blockquote:focus {
  border-color: #3f51b5 !important;
  outline: none;
}

.range_container {
  margin-bottom: 12px;
  width: 360px;

  input {
    border: none !important;
  }
}

.tbl_container {
  margin: auto;
  max-width: calc(100% - 32px);
  overflow-x: auto;
  padding: 16px 0;
  width: 1200px;

  table {
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
    border-left: 1px solid #ccc;
    border-spacing: 0;
    width: 100%;
  }

  th,
  td {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 3px 8px;
    text-align: left;
    white-space: nowrap;
  }
}

.overlay {
  background: transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.context-menu {
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  position: absolute;
  z-index: 10;
}
